body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: rgb(65, 56, 188);
    color: rgb(235, 228, 228);
    padding: 11px;
    text-align: center;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


main {
    margin: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.currency {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#usdInputfield,#cadInputfield {
    width: 10em;
    height: 4em;
    border: 1px solid rgb(65, 56, 188);
    border-radius: 6px;
}

select {
    height: 4em;
    appearance: none;
    width: 5em;
    color: rgb(235, 228, 228);
    padding: 10px;
    font-size: 15px;
    line-height: 1;
    border: 0;
    border-radius: 6px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right rgb(65, 56, 188);
    -webkit-appearance: none;
    background-position-x: 52px;
}

.bttn {
    flex-direction: column;
}

.bttn button {
    width: 7em;
    height: 3em;
    background-color:  rgb(65, 56, 188);
    color: rgb(235, 228, 228);
    border-radius: 550px;
    font-size: 1rem;
}